<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.board.model.mapper.CommentMapper">
    <resultMap type="com.ssafy.enjoytrip.board.model.dto.Comment" id="comment">
        <id column="board_id" property="commentId"/>
        <result column="user_id" property="userId"/>
        <result column="current_update" property="currentUpdate"/>
        <result column="content" property="content"/>
    </resultMap>


    <select id="selectComment" resultType="comment" resultMap="comment">
        select *
        from comment
        where comment_id = #{commentId};
    </select>

    <insert id="insertComment" parameterType="comment">
        <selectKey resultType="int" keyProperty="commentId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into board (user_id, subject, content, type)
        values (#{userId}, #{subject}, #{content}, #{boardType})
    </insert>

    <update id="updateBoard" parameterType="board">
        update board
        set subject = #{subject},
        content = #{content}
        where board_id = #{boardId}
    </update>

    <delete id="deleteBoard" parameterType="int">
        delete
        from board
        where board_id = #{boardId}
    </delete>


    <update id="updateHit" parameterType="int">
        update board
        set hit = hit + 1
        where board_id = #{boardId}
    </update>

    <select id="selectAll" resultMap="board">
        select *
        from board
    </select>
</mapper>